<div class="row pt-5 pb-3 pl-3 bg-light mb-5 shadow mx-1">
    <div class="col">
        <h5 class="pb-2"><b>Contact Information</b></h5>
        <p>
            <a href="naeemanazarcn@gmail.com"><strong>Gmaild: </strong> naeemanazarcn@gmail.com</a><br><br>
            <a href="https://www.linkedin.com/in/naeema-nazar-307a3a183"><strong>LinkedIn</strong> "https://www.linkedin.com/in/abdul-manaf-f-07b614145/"</a><br><br>
        <a href="tel:+91 9633343123"><strong>Call: +91 9633343123</strong> </a>
        </p>
    </div>
</div>