<div class="container  bg-light my-4">
    <div class="row pt-5 px-3 py-5">
      <div class="col">
        
    
        <p>SKILLS</p>
        <ul style="line-height:180%">
          <li>Programming Languages Known - C++, Python</li>
          <li>Arduino Programming And INterfacing</li>
          <li>Online Tutoring For Workshops </li>
          <li>Mentoring for various Sessions Webinars </li>
        </ul>
        
        


           

            
      
        </div>
      </div>
      </div>