<div class="container pt-5 pb-3">
	<div class="row">
		<div class="col-lg-8">
			<div class="row pb-3">
				<div class="col">
					<h3 class="text-white">NAEEMA NAZAR</h3>
				</div>
			</div>

			<div class="row mt-3 mb-4 text-center">
				<div class="col-xl-6">
					<div class="row">
						<div class="col">
							<a class="nav-link onHoverDark activeCustom" routerLink="/" *ngIf="active === '/home'">Home</a>
							<a class="nav-link onHoverDark inactiveCustom" routerLink="/" *ngIf="active !== '/home'">Home</a>
						</div>
						<div class="col">
							<a class="nav-link onHoverDark activeCustom" routerLink="/profile" *ngIf="active === '/profile'">Profile</a>
							<a class="nav-link onHoverDark inactiveCustom" routerLink="/profile" *ngIf="active !== '/profile'">Profile</a>
						</div>
						<div class="col">
							<a class="nav-link onHoverDark activeCustom" routerLink="/research" *ngIf="active === '/research'">Research</a>
							<a class="nav-link onHoverDark inactiveCustom" routerLink="/research" *ngIf="active !== '/research'">Research</a>
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="row">
						<div class="col">
							<a class="nav-link onHoverDark activeCustom" routerLink="/skills" *ngIf="active === '/skills'">skills</a>
							<a class="nav-link onHoverDark inactiveCustom" routerLink="/skills" *ngIf="active !== '/skills'">skills</a>
						</div>
						<div class="col">
							<a class="nav-link onHoverDark activeCustom" routerLink="/projects" *ngIf="active === '/projects'">Project</a>
							<a class="nav-link onHoverDark inactiveCustom" routerLink="/projects" *ngIf="active !== '/projects'">Project</a>
						</div>
						<div class="col">
							<a class="nav-link onHoverDark activeCustom" routerLink="/contact" *ngIf="active === '/contact'">Contact</a>
							<a class="nav-link onHoverDark inactiveCustom" routerLink="/contact" *ngIf="active !== '/contact'">Contact</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-lg-4 pt-5">
			<div class="row py-5 px-4 bg-light mb-5 shadow mx-1">
				<div class="col text-center">
					<img class="pb-5 rounded-circle" src="assets/naeema.jpg" width="100%" style="max-width: 200px">
					<p>
						I am currently doing BTECH from KMEA engineering college in Electronics and Communication . I am extending my capabilities in Artificial Intelligence , deep learning and coding etc . I done <br>
	 					<br>
						 Some mini projects in this area and now also I am doing a main project based on my interested 
						 areas.<br>
					</p>
				</div>
			</div>

			<div class="row pt-5 pb-3 pl-3 bg-light mb-5 shadow mx-1">
				<div class="col">
					<h5 class="pb-2"><b>Contact Information</b></h5>
					<p>
						<a href="mailto:mayank2220singh@gmail.com"><strong>Gmaild: </strong> naeemanazarcn@gmail.com</a><br><br>
						<a href="https://www.linkedin.com/in/naeema-nazar-307a3a183"><strong>LinkedIn</strong> </a><br><br>
						
						<a href="tel:+91 9633343123"><strong>Call: +91 9633343123</strong> </a>
					</p>
				</div>
			</div>
    </div>
  </div>
</div>