<div class="container  bg-light my-4">
    <div class="row pt-5 px-3 py-5">
      <div class="col">
        
    
          <p class="text-justify"> 
            I am Naeema currently doing BTECH from KMEA engineering college in Electronics and Communication .
            I am extending my capabilities in Artificial Intelligence , deep learning and coding etc . I done 
            Some mini projects in this area and now also I am doing a main project based on my interested 
            areas. I am a mentor as well as a coordinator in my college, I do mentoring in sessions , Webinars and coordination in technical as well as  non technical areas.
            
        
            </p>


           

            
      
        </div>
      </div>
      </div>