<div class="container bg-light pt-4">
    <div class="row">
      <div class="col-md-12">
         <h2> ROBO BASED COVID 19 DETECTION </h2>
         <img class="pt-4" src="assets\robo.jpg" width="100%" style="max-height: 200px;">
         <p class="pt-5">
            The robot automatically recognises the patient’s facial structure to autonomously take the images  without the need of any human intervention.
            The robot uses latest cutting edge AI technologies to automatically detect the temperature of a person and records all the person details and send an alert to the concerned authorities if a person has some symptoms of COVID 19.
            The project is in the initial phase of development.
         </p>
       </div>
      
    </div>
   </div>